name: Build vifm zips

on: 
    schedule:
      - cron: '0 0 ** 0'
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ARCHS: "arm64 armeabi-v7a x86_64 x86"

    steps:
      - name: Checkout repository
        uses: actions/ checkout@v3
        
    
